@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  padding-top: 30px;
  z-index: 100;
}

.innerHeader {
  height: 80px;
  padding: 0 80px;
}
.innerHeader .logo {
  width: 170px;
  height: 60px;
  float: left;
  margin-right: 180px;
}
.innerHeader .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.innerHeader .logo a img {
  width: 100%;
}
.innerHeader .logo a img:nth-child(2) {
  opacity: 0;
}
.innerHeader .intorTxt {
  float: left;
  text-transform: uppercase;
  color: #fff;
  line-height: 70px;
}
.innerHeader .menuOpen {
  float: right;
  display: block;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
}
.innerHeader .menuOpen span {
  margin-left: 15px;
  font-size: 33px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -6px;
}

.visual .slide li {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #222;
}
.visual .slide li img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}
.visual .slide li .txt {
  position: absolute;
  left: 10%;
  top: 50%;
  color: #fff;
  font-size: 18px;
  transform: translateY(-50%);
}
.visual .slide li .txt h3 {
  font-size: 64px;
  margin: 30px 0;
}
.visual .slide li .txt a {
  display: inline-block;
}
.visual .slide li .txt a span {
  font-size: 14px;
  margin-left: 5px;
}
.visual .slide li .scroll {
  position: absolute;
  left: 50px;
  bottom: 10%;
  transform: rotate(-90deg);
  color: #ccc;
  font-weight: bold;
}

.contents {
  background: #1b1b1b;
  padding: 120px 0;
  overflow: hidden;
}
.contents .mainText {
  width: 1170px;
  margin: 0 auto;
  color: #fff;
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
}
.contents .mainText::before {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ffec03;
  position: absolute;
  left: 50px;
  top: 130px;
}
.contents .mainText::after {
  content: "”";
  font-size: 300px;
  position: absolute;
  left: 0;
  top: 50px;
}
.contents .mainText h3 {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  float: left;
  width: 30%;
}
.contents .mainText p {
  float: right;
  width: 70%;
  font-size: 25px;
  line-height: 1.4;
  font-weight: 300;
}
.contents .mainText p span {
  display: block;
  margin-top: 60px;
  font-size: 20px;
  font-weight: 400;
  color: #999;
}
.contents .project {
  color: #fff;
}
.contents .project .top {
  width: 1170px;
  height: 90px;
  margin: 130px auto 60px;
  outline: 1px solid red;
}
.contents .project .top h3 {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.3;
  float: left;
}
.contents .project .top a {
  float: right;
  font-size: 18px;
  display: block;
}
.contents .project .top a span {
  font-size: 14px;
  margin-left: 5px;
}