@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

// reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

li {
  list-style: none;
}

// layout
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  position: relative;
}

// header
header {
  width: 100%;
  position: fixed;
  padding-top: 30px;
  z-index: 100;
  transition: all 0.5s;

  // fixHeader
  &::before {
    content: "";
    width: 100%;
    height: 0;
    background: #222;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    z-index: -1;
  }

  &.on {
    padding: 20px 0 0;
    transition: all 0.5s;

    &::before {
      height: 100%;
      border-bottom: 1px solid #2c2c2c;
      transition: all 0.5s;
    }

    .innerHeader {
      .logo {
        a {
          img {
            &:nth-child(2) {
              opacity: 1;
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}

.innerHeader {
  height: 80px;
  padding: 0 80px;

  .logo {
    width: 170px;
    height: 60px;
    float: left;
    margin-right: 180px;

    a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
  }

  .intorTxt {
    float: left;
    text-transform: uppercase;
    color: #fff;
    line-height: 70px;
  }

  .menuOpen {
    float: right;
    display: block;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;

    span {
      margin-left: 15px;
      font-size: 33px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -6px;
    }
  }
}

// gbn
.gnb {
  outline: 1px solid red;
  padding: 70px 100px;
  height: 100vh;
  color: #666;
  position: absolute;
  right: -100%;
  top: 0;
  z-index: 200;
  box-sizing: border-box;
  transition: all 0.8s;
  background: #000;

  &.on {
    right: 0;
    transition: all 0.8s;
  }

  .close {
    outline: 1px solid red;
    font-size: 40px;
    color: #fff;
    float: right;
    display: block;
  }

  ul {
    li {
      a {
        outline: 1px solid red;
        display: block;
        font-size: 40px;
        font-weight: bold;
        line-height: 1.7;
        transition: all 0.3s;
      }

      &:hover,
      &:first-child a {
        color: #fff;
        transition: all 0.5s;
      }
    }
  }
}

// visual
.visual {
  .slide {
    li {
      position: relative;
      width: 100%;
      height: 100vh;
      background: #222;

      img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
      }

      .txt {
        position: absolute;
        left: 10%;
        top: 50%;
        color: #fff;
        font-size: 18px;
        transform: translateY(-50%);

        h3 {
          font-size: 64px;
          margin: 30px 0;
        }

        a {
          display: inline-block;

          span {
            font-size: 14px;
            margin-left: 5px;
          }
        }
      }

      .scroll {
        position: absolute;
        left: 50px;
        bottom: 10%;
        transform: rotate(-90deg);
        color: #ccc;
        font-weight: bold;
      }
    }
  }

  @keyframes scroll {
    0% {
      opacity: 0;
      left: -100px;
    }
    100% {
      opacity: 1;
      left: 50px;
    }
  }
}

.slick-arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #fff;
  z-index: 20;
  text-indent: -9999px;
  border: none;

  &:hover {
    cursor: pointer;
    background: #ccc;
    transition: all 0.5s;

    &::after {
      font-size: 28px;
      color: #333;
      transition: all 0.2s;
    }
  }

  &::after {
    content: "<";
    position: absolute;
    width: 100%;
    height: 100%;
    color: #888;
    font-size: 20px;
    left: 0;
    top: 0;
    text-indent: 0;
    font-weight: 300;
    transition: all 0.2s;
  }

  &.slick-prev {
    bottom: 60px;
  }

  &.slick-next {
    &::after {
      content: ">";
    }
  }
}

.slick-active {
  .txt {
    p {
      animation-name: txt1;
      animation-duration: 0.8s;
    }

    a {
      animation-name: txt2;
      animation-duration: 0.8s;
    }

    h3 {
      animation-name: txt3;
      animation-duration: 0.7s;
    }
  }

  .scroll {
    animation-name: scroll;
    animation-duration: 1s;
  }

  img {
    animation-name: img;
    animation-duration: 1s;
  }
}

@keyframes txt1 {
  0% {
    opacity: 0;
    transform: rotateX(180deg) translateY(-150px);
  }

  20% {
    opacity: 0;
    transform: rotateX(180deg) translateY(-150px);
  }

  100% {
    opacity: 1;
    transform: rotateX(0) translateY(0);
  }
}

@keyframes txt2 {
  0% {
    opacity: 0;
    transform: rotateX(180deg) translateY(150px);
  }

  20% {
    opacity: 0;
    transform: rotateX(180deg) translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: rotateX(0) translateY(0);
  }
}

@keyframes txt3 {
  0% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
    left: -100px;
  }

  30% {
    opacity: 0;
    left: -100px;
  }

  100% {
    opacity: 1;
    left: 50px;
  }
}

@keyframes img {
  0% {
    opacity: 0;
    right: -80px;
    transform: scale(0.99);
  }

  100% {
    opacity: 1;
    right: 0;
  }
}

// contents
.contents {
  background: #1b1b1b;
  padding: 120px 0;
  overflow: hidden;

  .mainText {
    width: 1170px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    padding-bottom: 60px;
    overflow: hidden;

    &::before {
      content: "";
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #ffec03;
      position: absolute;
      left: 50px;
      top: 130px;
    }

    &::after {
      content: "”";
      font-size: 300px;
      position: absolute;
      left: 0;
      top: 50px;
    }

    h3 {
      font-size: 25px;
      font-weight: bold;
      line-height: 1.2;
      float: left;
      width: 30%;
    }

    p {
      float: right;
      width: 70%;
      font-size: 25px;
      line-height: 1.4;
      font-weight: 300;

      span {
        display: block;
        margin-top: 60px;
        font-size: 20px;
        font-weight: 400;
        color: #999;
      }
    }
  }

  // projects
  .project {
    color: #fff;

    .top {
      width: 1170px;
      height: 90px;
      margin: 130px auto 60px;

      h3 {
        font-size: 35px;
        font-weight: bold;
        line-height: 1.3;
        float: left;
      }

      a {
        float: right;
        font-size: 18px;
        display: block;

        span {
          font-size: 14px;
          margin-left: 5px;
        }
      }
    }

    ul {
      clear: both;
      width: 98%;
      margin: 0 auto;
      overflow: hidden;

      li {
        float: left;
        width: 24.2%;
        margin-right: 1%;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;

          &:hover {
            img {
              transform: scale(1.2);
              transition: all 1s;
            }
          }

          img {
            width: 100%;
            transition: all 0.5s;
          }

          .name {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 15px 15px;
            width: 270px;
            text-align: right;
            font-size: 22px;
            box-sizing: border-box;

            span {
              font-size: 15px;
              font-weight: bold;
            }

            h3 {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  .partner {
    width: 1170px;
    margin: 120px auto;
    color: #fff;

    h3 {
      font-size: 17px;
      font-weight: 400;
    }

    ul {
      overflow: hidden;

      li {
        float: left;
        width: 29%;
        height: 100px;
        margin-top: 80px;
        text-align: center;

        &:nth-child(1),
        &:nth-child(5) {
          width: 21%;
          text-align: left;
        }

        &:nth-child(4n) {
          text-align: right;
          width: 21%;
        }

        img {
          display: inline-block;
          opacity: 0.4;
          transition: all 0.3s;
        }

        &:hover img {
          opacity: 1;
          transition: all 0.3s;
        }
      }
    }
  }

  // contact
  .contact {
    width: 100%;
    position: relative;
    background: url("../img/contact.jpg") no-repeat;
    padding: 190px 0;
    background-size: 90%;
    background-position: left;
    background-attachment: fixed;
    color: #fff;

    .inner {
      width: 1170px;
      margin: 0 auto;
      font-size: 17px;
      line-height: 1.3;

      h3 {
        font-weight: 400;
      }

      .tel {
        margin: 50px 0;
        font-size: 55px;
        font-weight: bold;
      }
    }
  }
}

footer {
  background: #1b1b1b;
  color: #999;
  padding: 0 80px 80px;
  position: relative;

  ul {
    overflow: hidden;

    li {
      float: left;
      width: 33.3333%;

      &:nth-child(2) {
        color: #eee;
        font-size: 16px;
        line-height: 2;

        span {
          font-weight: bold;
          margin-right: 10px;
          color: #999;
        }
      }

      &:nth-child(3) {
        font-weight: bold;
      }
    }
  }

  .goTop {
    position: absolute;
    right: 80px;
    bottom: 60px;
    font-size: 48px;
    color: #fff;
  }
}

@media screen and (max-width: 1200px) {
  .mo {
    display: none;
  }

  .contents {
    .mainText,
    .project .top,
    .partner,
    .contact .inner {
      width: 90%;
    }

    .project {
      ul {
        li {
          a {
            &:hover {
              img {
                transform: scale(1);
              }
            }

            .name {
              position: relative;
              width: 100%;
              padding-bottom: 30px;
              font-size: 20px;

              &::after {
                content: "⟶";
                position: absolute;
                right: 15px;
                bottom: 0;
                font-size: 18px;
              }
            }
          }
        }
      }
    }

    .contact {
      outline: 1px solid red;
      width: 90%;
      background-attachment: scroll;
      background-position: center;
      background-size: cover;
    }
  }

  footer {
    .goTop {
      right: 20px;
      bottom: 20px;
    }
  }
}
